<div class="jumbotron mt-4">
  <h1 class="display-6">
    Notes App Nodejs and MongoDB
  </h1>
  <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis sed, cum ducimus
    quo dolorum.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores illum dolore nemo id velit. Ipsa, repellat
    minus. Quidem, et!</p>
  <a href="https://youtube.com" class="btn btn-primary">Youtube</a>
</div>